/*
 * File: index.css
 * Author: EasyAI
 * Email: easyai@outlook.com
 * Created Date: 2017-12-23 15:49:53
 * ------
 * Last Modified: 2017-12-23 21:07:41
 * Modified By: EasyAI ( easyai@outlook.com )
 */
 /*在index.html的最后加载该css*/
 html {
    height:100%;
}
body {
    background-color: white;
    font-family: "Microsoft JhengHei";
    height:100%;
    padding: 0%;
    margin:0;
    border:0;
    line-height: 130%;
    text-align: justify;
    overflow:hidden;
}
a {
    float: left; }
.links line {
    stroke: black;
    stroke-opacity: 0.8; 
}
      
.codeNames text {
    user-select: none;
    -webkit-user-select: none; 
}
      
svg {
    float: left; 
}
/*代码页*/
div.codePage {
    position: absolute;
    background-color: rgb(246,246,179);
    right:0;
    top:0;
    display: none;
    float: left;
    height: 100%;
    width: 49%;
}
pre.prettyprinted{
    height:100%;
}
div.tab-pane{
    height:100%;
}
div.tab-content{
    height:93%;
    background-color: rgb(246,246,179);
}
ul.nav-tabs{
    height:7%;
}
/*滑动条*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: rgb(216, 212, 212);
}
::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(105, 105, 105);
}
::-webkit-scrollbar-button{
    height: 10px;
    background-color: rgb(202, 159, 94);
}
ul.nav-tabs {
    list-style-type:none;
    display:block;
    white-space: nowrap;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: rgb(246,246,179);
    width: 100%;
    overflow-x:scroll;
}
ul.nav-tabs li {
    list-style:none;
    display:inline-block;
    border-radius: 5px;
    border:1.5px solid rgb(218, 184, 127);
}

ul.nav-tabs li a {
    position: relative;
    display: block;
    background-color: rgb(238, 238, 238);
    color:rgb(65, 64, 64);
    text-align: center;
    padding:5px 5px;
    border:2px;
    border-radius:5px;
    text-decoration: none;
}

ul.nav-tabs li a.tag:hover {
    background-color: rgb(217,238,248);
    color:rgb(24, 24, 24);
}
ul.nav-tabs li.active>a {
    background-color: rgb(217,238,248);
    color:rgb(24, 24, 24);
}
ul.nav-tabs li a.tag:focus{
    background-color: rgb(217,238,248);
    color:rgb(24, 24, 24);
}
ul.nav-tabs li a.tag:hover+a {
    background-color: rgb(217,238,248);
    color:rgb(24, 24, 24);
}
ul.nav-tabs li a.tag:focus+a{
    background-color: rgb(217,238,248);
    color:rgb(24, 24, 24);
}

div.tab-content div.tab-pane{
    display:none;
}

div.tab-content div.fade{
    opacity:0;
    transition:opacity 1s linear;
}
div.tab-content div.active{
    display:block;
}
div.tab-content div.in{
    opacity: 1;
}
div.tab-content pre{
    overflow-x:scroll;
    overflow-y:scroll;
}
div.navbar-container{
    width:100%;
}