body{
    background-color: rgb(255,255,255);
    font-family: "Microsoft JhengHei"
}
.links line {
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.8;
}
.codeNames text{
    user-select: none;
    -webkit-user-select: none;
}
svg{
    float:left;
}
.codePage{
    display: none;
    float: left;
    height: 100%;
    width: 49%;
}
a{
    float:left;
}
button{
    padding-top: 20%;
    padding-bottom: 20%;
    float: left;
}