/*
 * File: index.css
 * Author: EasyAI
 * Email: easyai@outlook.com
 * Created Date: 2017-12-23 15:49:53
 * ------
 * Last Modified: 2017-12-24 09:52:45
 * Modified By: EasyAI ( easyai@outlook.com )
 */
 /*在index.html的最后加载该css*/
 html {
    height:100%;
}
body {
    background-color: rgb(240, 240, 240);
    font-family: "Microsoft JhengHei";
    height:100%;
    padding: 0%;
    margin:0;
    border:0;
    line-height: 130%;
    text-align: justify;
    overflow:hidden;
}
a {
    float: left; }
.links line {
    stroke: rgb(117, 117, 117);
    stroke-opacity: 0.8; 
}
      
.codeNames text {
    user-select: none;
    -webkit-user-select: none; 
}
      
svg {
    float: left; 
}
/*代码页*/
div.codePage {
    position: absolute;
    background-color: rgb(255, 246, 232);
    right:0;
    top:0;
    display: none;
    float: left;
    height: 100%;
    width: 49%;
}
pre.prettyprinted{
    height:100%;
}
div.tab-pane{
    height:100%;
}
div.tab-content{
    height:93%;
    background-color: rgb(255, 242, 224);
}
ul.nav-tabs{
    height:7%;
}
/*滑动条*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: rgb(37, 37, 37);
}
::-webkit-scrollbar-track{
    background-color: rgb(182, 182, 182);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(99, 99, 99);
}
::-webkit-scrollbar-button{
    height: 10px;
    background-color: rgb(182, 182, 182);
}
ul.nav-tabs {
    list-style-type:none;
    display:block;
    white-space: nowrap;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 244, 194);
    width: 100%;
    overflow-x:scroll;
}
ul.nav-tabs li {
    list-style:none;
    display:inline-block;
    border-radius: 5px;
    border:1.5px solid rgb(240, 152, 52);
}

ul.nav-tabs li a {
    position: relative;
    display: block;
    background-color: rgb(250, 252, 153);
    color:rgb(26, 102, 138);
    text-align: center;
    padding:5px 5px;
    border:2px;
    border-radius:5px;
    text-decoration: none;
    border:1px solid rgb(135, 253, 155);
}

ul.nav-tabs li a.tag:hover {
    background-color: rgb(247, 181, 105);
    color:rgb(8, 54, 139);
}
ul.nav-tabs li.active>a {
    background-color: rgb(247, 181, 105);
    color:rgb(8, 54, 139);
}
ul.nav-tabs li a.tag:focus{
    background-color: rgb(247, 181, 105);
    color:rgb(8, 54, 139);
}
ul.nav-tabs li a.tag:hover+a {
    background-color: rgb(247, 181, 105);
    color:rgb(8, 54, 139);
}
ul.nav-tabs li a.tag:focus+a{
    background-color: rgb(247, 181, 105);
    color:rgb(8, 54, 139);
}

div.tab-content div.tab-pane{
    display:none;
    font-size:1.2em;
}

div.tab-content div.fade{
    opacity:0;
    transition:opacity 0.5s linear;
}
div.tab-content div.active{
    display:block;
}
div.tab-content div.in{
    opacity: 1;
}
div.tab-content pre{
    overflow-x:scroll;
    overflow-y:scroll;
    background-color: rgb(253, 244, 194)
}
div.navbar-container{
    width:100%;
}

div.tab-content pre span.com{
    color: rgb(180, 180, 180)
}
div.tab-content pre span.pun{
    color: rgb(80, 199, 80)
}
div.tab-content pre span.kwd{
    color: rgb(65, 121, 224)
}
div.tab-content pre span.typ{
    color: rgb(53, 138, 31)
}
div.tab-content pre span.str{
    color: rgb(158, 236, 255)
}
div.tab-content pre span.lit{
    color: rgb(179, 179, 179)
}
div.tab-content pre span.pln{
    color: rgb(0, 0, 0)
}
/*搜索框*/
div.search-container{
    position: absolute;
    display: true;
    bottom: 50%;
    left:35%;
}
div.search-container a#open-dialog{
    text-decoration: none;
    color:rgb(0, 0, 0);
    margin-right:2px;
}
div.search-container a#open-dialog:hover{
    text-decoration: none;
    color:rgb(110, 110, 110);
}
div.search-container a#submit{
    text-decoration: none;
    color:rgb(0, 0, 0);
    margin-left:2px;
}
div.search-container a#submit:hover{
    text-decoration: none;
    color:rgb(110, 110, 110);
}
div.search-container input{
    float:left;
    height:2em;
}
div.search-container i{
    font-size:2em;
}
div.search-container p{
    margin-bottom:4px;
    color:rgb(0, 0, 0);
}
