body{
    background-color: rgb(255,255,255);
}
.links line {
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.8;
}
svg{
    width: 100%;
    height: 100%;
}
.codeNames text{
    user-select: none;
    -webkit-user-select: none;
    font-family: "Microsoft JhengHei"
}